.container {
  background-color: #fff;
}

.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  border-width: 1px;
  border-style: double;
  height: 580px;
  margin: 20px 40px;
}

.chartContainer {
}

.chartSection {
  margin: 25px;
}

.homeButton,
.moverButton {
  margin: 10px;
  background-color: rgb(111, 245, 231);
  color: black;
  font-weight: 700;
}

.homeButton::before {
  content: "◀";
}

.moverButton::after {
  content: "▶";
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(100px);
  padding-bottom: 20px;
}
